<% if controller_name != "sessions" %>
  <%= link_to t("sessions.signin"), new_session_path(resource_name) %><br/>
<% end %>

<% if devise_mapping.registerable? && controller_name != "registrations" %>
  <p><%= t "sessions.new_user" %>?
    <%= link_to t("sessions.signup"), new_registration_path(resource_name) %>
  </p>
<% end %>

<% if devise_mapping.omniauthable? %>
  <% resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "<i class='btn btn-block btn-social btn-#{ICONS[provider]}'><span class='fa fa-#{ICONS[provider]}'></span>Sign in with #{provider}</i>".html_safe, omniauth_authorize_path(resource_name, provider) %></br>
  <% end %>
<% end %>
