<div class="order-detail">
  <table class="table table-hover">
    <tr>
      <th><%= t "order.product_name" %></th>
      <th><%= t "order.quantity" %></th>
      <th><%= t "order.price" %></th>
    </tr>
    <%= render @line_items %>
  </table>
</div>
