<% provide title: t("categories.all") %>
<%= link_to t("categories.new"), new_admin_category_path,
  {class: "btn btn-primary"} %>
<% if @categories.any? %>
  <table class="table table-hover">
    <tr>
      <th><%= t "categories.name" %></th>
      <th></th>
    </tr>
    <%= render @categories %>
  </table>
  <div class="text-center">
    <%= will_paginate %>
  </div>
<% end %>
