<% provide title: t("categories.new") %>
<% provide :button_text, t("categories.new") %>
<h1><%= t "categories.new" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-4">
    <%= render "form" %>
  </div>
</div>
